html,body{
	height: 100%;
	width: 100%;
	
}3
.navbar{
	background-color:#23415c;
	padding: 1% 0;
text-align: 20px;
}
#home{
	background: url(img/header.jpg) no-repeat center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}